<head>
    <title>fin.dash</title>

    <link href="../static/css/materialize.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">

    <link href="../static/css/custom/ion.rangeSlider.css" rel="stylesheet">
    <link href="../static/css/custom/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>

    <script type="text/javascript" src="../static/js/materialize.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
     <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

    <script type="text/javascript" src="../static/js/ion.rangeSlider.min.js"></script>

    <script type="text/javascript" src="../static/js/custom-script.js"></script>
</head>