<!-- Google Materialize Dropdown Structure Navbar -->
<div class="navbar-fixed">
  <nav style="background-color: #455a64">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">fin.dash<img src="http://i68.tinypic.com/2ep0qhi.png" style="max-height: 20px;margin-left: .25rem;"></a>    
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="profile">Profile</a></li>
        <li><a href="logout">Log Out</a></li>
      </ul>
      <ul class="side-nav" id="slide-out">
        <li><a href="profile">Profile</a></li>
        <li><a href="logout">Log Out</a></li>
      </ul>
    </div>
  </nav>
</div>