<!DOCTYPE html>
<html lang="en">
 
{% include 'partials/_head.html' %}
 
<body>
    <div class="container">
        <div class="header">
            {% include 'partials/_navbar.html' %}
        </div>
 
        <div class="jumbotron">
            <h4 id="cust_name" style="color: #455a64">Hello, {{ cust_firstname | safe }}!</h4>
            <h5 id="cust_intro" style="color: #455a64">Let's take a look at your account:</h5>
            <p class="lead"></p>
<!--             <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p> -->
        </div>
    
        <div id="fin-dashboard">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card blue-grey darken-1 fade_card">
                        <div class="card-content white-text">
                          <span class="card-title">Spending Map</span>
                          <input type="text" id="example_id" name="example_name" value="" />
                          <br>
                          <div id="mapid"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Account Summary and Graphs -->
                    <div class="col s12 m12 l3">
                      <div class="card blue-grey darken-1 fade_card account-summary" >
                        <div class="card-content white-text">
                          <span class="card-title">Account Summary</span>
                            <ul class="collection with-header grey-text text-darken-4">
                                <li class="collection-item"><div>Account Type:<a href="#!" class="secondary-content">{{ acc_type | safe }}</a></div></li>
                                <li class="collection-item"><div>Account Owner:<a href="#!" class="secondary-content">{{ acc_owner | safe }}</a></div></li>
                                <li class="collection-item"><div>Current Balance:<a href="#!" class="secondary-content">{{ acc_balance | safe }}</a></div></li>
                                <li class="collection-item"><div>Rewards Balance:<a href="#!" class="secondary-content">{{ acc_rewards | safe }}</a></div></li>
                            </ul>
                        </div>
                      </div>
                      <div class="card blue-grey darken-1 fade_card" style="color: #455a64 !important">
                        <div class="card-content white-text">
                          <span class="card-title">Your Capital One</span>
                          <p>The closest Capital One branch to you is: </p>
                        </div>
                        <div class="card-action">
                          <a href="#">This is a link</a>
                          <a href="#">This is a link</a>
                        </div>
                      </div>
                    </div>
                    <!-- end account summary -->
                    <!-- begin graphs -->
                    <div class="col s12 m12 l5">
                        <div class="card blue-grey darken-1 fade_card" style="color: #455a64 !important">
                            <div class="card-content white-text">
                              <span class="card-title">Recent Transactions</span>
                              <form>
                                <div class="input-field col s12">
                                    <select id="aggregate-select">
                                      <option value="day" selected>Day</option>
                                      <option value="week">Week</option>
                                      <option value="month">Month</option>
                                    </select>
                                    <label style="color: white">Aggregate by:</label>
                                  </div>
                                  </form>
                            <div class="preloader-wrapper big active" id="graph-loader" style="display:none;">
                                <div class="spinner-layer spinner-blue-only">
                                  <div class="circle-clipper left">
                                    <div class="circle"></div>
                                  </div><div class="gap-patch">
                                    <div class="circle"></div>
                                  </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                  </div>
                                </div>
                              </div>
                              <canvas id="myChart" width="400" height="400" style="background-color: white;"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar + Extra Info -->
                    <div class="col s12 m12 l4">
                        <div class="card weekly-budget blue-grey darken-1 fade_card" style="color: #455a64 !important">
                            <div class="card-content white-text">
                              <span class="card-title">Weekly Budget</span>
                              <div class="input-field right col s4">
                                  <input placeholder="$ {{ weeklyBudgetLimit}}" id="weeklyBudgetLimit" type="text" class="validate">
                                  <label for="weeklyBudgetLimit">Spending Limit</label>
                              </div>
                              <canvas id="weeklyBudgetCanvas" width="200" height="200" style="background-color: white;"></canvas>
                              <span id="innerBudgetLimit">Weekly<br>Spending<br>${{ weeklyBudgetLimit }}</span>
                            </div>
                        </div>
                        <div class="card blue-grey darken-1 fade_card" style="color: #455a64 !important">
                        <div class="card-content white-text">
                          <span class="card-title">Top Merchants</span>
                            <p>September 2016</p>
                            <table class="centered">
                            <thead>
                              <tr>
                                  <th data-field="id" width="40%">Merchant</th>
                                  <th data-field="name">Total Spent</th>
                                  <th data-field="price"># Purchases</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for merchant in merchants %}
                                <tr>
                                    <td>{{merchant.name}}</td>
                                    <td style="color:#81c784">{{"${:.2f}".format(merchant.total)}}</td>
                                    <td>{{merchant.count}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row">
            <div class="col s8 m12 l12">
                <div class="card blue-grey darken-1 fade_card" style="color: #455a64 !important">
                    <div class="card-content white-text">
                      <span class="card-title">Project Future Spending</span>
                      <p>Based on your recent spending patterns, you will spend {{"${:.2f}".format(month_average * 12)}} in a year.</p>
                      <div class="row">
                            <div class="col s4">
                                <form id="forecast-form">
                                    {% for item in all_averages %}
                                    {% if item.name != 'total' %}
                                        <div class="row">
                                        <div class="input-field col s12">
                                          <input id="{{item.name}}" type="text" value="{{'{:.2f}'.format(item.average)}}">
                                          <label style="color:white;" for="{{item.name}}">Monthy spending on {{item.name}}</label>
                                        </div>
                                      </div>
                                    {% endif %}
                                    {% endfor %}
                                </form>
                                <p>Monthly Total: <span id ="month-total" style="color:#81c784">${{'{:.2f}'.format(month_average)}}</span></p>
                                <p>Year Total: <span id ="year-total" style="color:#81c784">${{'{:.2f}'.format(month_average * 12)}}</span></p>
                            </div>
                            <div class="col s8 ">
                                <canvas id="forecast-graph" height="250" width="300" style="background-color: white;"></canvas>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

 
        {% include 'partials/_footer.html' %}
 
    </div>
</body>
<script>
    
    var merchant_data = {{ all_merchants | safe }}

    var mymap = L.map('mapid').setView([33.776001, -84.397766], 13);

    L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        subdomains: ['a','b','c']
    }).addTo( mymap );

    function addMapMarkers(start, end) { 
        var step = 604800;
        var start_time = 1420070400;

        start_index = Math.floor((start - start_time) / step);
        end_index = Math.floor((end - start_time) / step);

        console.log(start_index);
        console.log(end_index);

        totals = {}
        for (var i =start_index; i < end_index; i++) {
            for (prop in merchant_data[i]) {
                var curr = merchant_data[i][prop]
                if (!(prop in totals)) {
                    totals[prop] = {'geocode': curr['geocode'], 'amount': curr['amount'] }
                } else {
                    totals[prop]['amount'] += curr['amount']
                }
            }
        }

        var markers = []
        for (prop in totals) {
            var circle = L.circle(totals[prop]['geocode'], totals[prop]['amount'], {
                color: '#1e88e5 ',
                fillColor: '#1e88e5 ',
                fillOpacity: 0.5
            }).addTo(mymap);


            circle.bindPopup(prop + ': $' + Math.round(totals[prop]['amount'] * 100) / 100);
                circle.on('mouseover', function (e) {
                    this.openPopup();
                });
                circle.on('mouseout', function (e) {
                    this.closePopup();
                });
            markers.push(circle);
            }
            return markers
        }


      $(document).ready(function() {
        $('select').material_select();

        $("#forecast-form :input").change(function() {
            var month_average = {{month_average}};
          //console.log($(this).attr('id'));
          var all = 0;
          $("#forecast-form :input").each(function() {
            var val = $(this).val();
            if (val == '') {
                val = 0;
            }
            all += parseInt(val);
          });
          console.log(all);
          updateForecastGraph(all);
          month_diff = all - month_average; 
          if (month_diff > 0){
                prefix = ''
            } else {
                prefix = '+'
            }

        diff = ' (' + prefix + '$' + Math.abs(Math.round(month_diff*100)/100) + ' in savings)'
        year_diff = ' (' + prefix + '$' + Math.abs(Math.round(month_diff*12*100)/100) + ' in savings)'
          $('#month-total').text('$' + Math.round(all*100)/100 + diff);
          $('#year-total').text('$' + Math.round(all * 12 * 100)/100 + year_diff);
        });

        markers = addMapMarkers(1420070400, 1474763510);
        $('#example_id').change(function() {
            for (var i = 0; i < markers.length; i++) {
                mymap.removeLayer(markers[i]);
            }
            indices = $(this).val().split(';');
            start = indices[0];
            end = indices[1];
            markers = addMapMarkers(start, end);
        })

        $('#aggregate-select').change(function() {
            var month_abbrev = {'01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr', '05': 'May', '06': 'June', '07': 'July', '08': 'Aug', '09': 'Sept', '10': 'Oct', '11': 'Nov', '12': 'Dec'};

            var interval = $('#aggregate-select').val();
            var url = "/sort/" + interval; 
            $('#graph-loader').show()
            $.getJSON( url, function( data ) {
                //console.log(data);
                $('#graph-loader').hide();
                labels = [];
                graphdata = {"total" : [], "food": [], "groceries": [], "entertainment": [], "gas": [], "coffee": [], "music": [], "shopping": []};
                for (var i=0; i < data.length; i ++) {
                    if (interval != 'month') {
                        labels.push(data[i].date);
                    } else {
                        labels.push(month_abbrev[data[i].date])
                    }
                    amounts = data[i]["amounts"]
                    for (prop in amounts) {
                        graphdata[prop].push(Math.round(amounts[prop] * 100) / 100);
                    }
                }
                myLineChart.data.labels = labels;
                myLineChart.data.datasets[0].data = graphdata['total'];
                myLineChart.data.datasets[1].data = graphdata['groceries'];
                myLineChart.data.datasets[2].data = graphdata['food'];
                myLineChart.data.datasets[3].data = graphdata['entertainment'];
                myLineChart.data.datasets[4].data = graphdata['gas'];
                myLineChart.data.datasets[5].data = graphdata['coffee'];
                myLineChart.data.datasets[6].data = graphdata['music'];
                myLineChart.data.datasets[7].data = graphdata['shopping'];
                myLineChart.update();
            })
        });
      });

    var data = {{transactionData | safe}};
    //console.log(data);
    labels = [];
    graphdata = {"total" : [], "food": [], "groceries": [], "entertainment": [], "gas": [], "coffee": [], "music": [], "shopping": []};
    for (var i=0; i < data.length; i ++) {
        labels.push(data[i].date);
        amounts = data[i]["amounts"]
        for (prop in amounts) {
            graphdata[prop].push(Math.round(amounts[prop] * 100) / 100);
        }
    }

    //console.log(labels);
    console.log(graphdata);

    var data = {
            labels: labels, 
            datasets:[
                    {
                        data: graphdata["total"], 
                        label: 'total', 
                        backgroundColor: 'rgba(39, 174, 96, 0)',
                        borderColor: 'rgba(0, 0, 255, .6)',},
                    {
                        data: graphdata["groceries"], 
                        label: 'groceries', 
                        backgroundColor: 'rgba(22, 160, 133, 0)',
                        borderColor: 'rgba(255, 128, 0, .6)'
                    },
                    {
                        data: graphdata["food"], 
                        label: 'food',
                        backgroundColor: 'rgba(41, 128, 185, 0)',
                        borderColor: 'rgba(255, 255, 0, .6)'
                    },
                    {
                        data: graphdata["entertainment"], 
                        label: 'entertainment',
                        backgroundColor: 'rgba(142, 68, 173, 0)',
                        borderColor: 'rgba(0, 255, 0, .6)',
                    },
                    {
                        data: graphdata["gas"], 
                        label: 'gas',
                        backgroundColor: 'rgba(52, 73, 94, 0)',
                        borderColor: 'rgba(127, 0, 255, .6)',
                    },
                    {
                        data: graphdata["coffee"], 
                        label: 'coffee',
                        backgroundColor: 'rgba(58, 83, 155, 0)',
                        borderColor: 'rgba(255, 0, 255, .6)',
                    },
                    {
                        data: graphdata["music"], 
                        label: 'music',
                        backgroundColor: 'rgba(0,255,255, 0)',
                        borderColor: 'rgba(0, 255, 255, .6)',
                    },
                    {data: graphdata["shopping"], label: 'shopping', backgroundColor: 'rgba(0,255,255,0)', borderColor: 'rgba(0, 0, 0, 0.6)'},
                
            ],
        };


    var ctx = document.getElementById("myChart");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
            fill:false,
            scales: {
                xAxes: [{
                            gridLines: {
                                display:false
                            }
                        }],
                yAxes: [{
                            gridLines: {
                                display:false
                            }   
                        }]
                },
        showXLabels:10, 
        }
	   });

    var weeklyBudgetData = {{weeklyBudgetData | safe}};
    console.log(weeklyBudgetData);
    var weeklyBudgetData = {
      labels: [
      "Amount Spent",
      "Amount Left to Spend"
      ], 
      datasets: [
      {
        data: weeklyBudgetData,
        backgroundColor: [
                "#FF6384",
                "#36A2EB"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB"
            ]
      }]
    };
    var weeklyBudgetCanvas = document.getElementById("weeklyBudgetCanvas");
    var budgetDonutChart = new Chart(weeklyBudgetCanvas, {
      type: 'doughnut',
      data: weeklyBudgetData,
      options: {
      rotation: 0 * Math.PI, // start angle in radians
      circumference: 2 * Math.PI, // sweep angle in radians
      cutoutPercentage: 80
      }
    });
    var weeklyBudgetctx = weeklyBudgetCanvas.getContext("2d");
    console.log(weeklyBudgetctx);
    weeklyBudgetctx.font="36px Roboto";
    weeklyBudgetctx.fillText("500", 300, 200);		

    var forecastctx = document.getElementById("forecast-graph");
    var month_average = {{month_average}};
    var month_abbrev = {1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'June', 7: 'July', 8: 'Aug', 9: 'Sept', 10 : 'Oct', 11: 'Nov', 0 : 'Dec'};
    var labels = []

    var total = 0;
    var month_graph = []
    for(var i = 9; i < 9+12; i ++) {
        labels.push(month_abbrev[i % 12]);
        month_graph.push(Math.round(total*100)/100);
        total += month_average;
    }

    console.log(labels);
    console.log(month_graph);

    var forecast = new Chart(forecastctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                data: month_graph,
                label: "Based on recent spending",
                backgroundColor: 'rgba(39, 174, 96, 0.3)',
                borderColor: 'rgba(39, 174, 96, .6)'
            }]
        },
        options: {
            fill:false,
            scales: {
                xAxes: [{
                            gridLines: {
                                display:false
                            }
                        }],
                yAxes: [{
                            gridLines: {
                                display:false
                            },
                        }]
                },
        showXLabels:10, 
        }
       });

    function updateForecastGraph(amt) {
        var total = 0;
        var month_graph = []
        for(var i = 9; i < 9+12; i ++) {
            month_graph.push(Math.round(total*100)/100);
            total += amt;
        }
        var num = forecast.data.datasets.length;
        if (num == 1) {
            forecast.data.datasets.push({data: month_graph, label: 'Based on current budget', backgroundColor: 'rgba(52, 73, 94, 0.3)', borderColor: 'rgba(52, 73, 94, .6)'});
        } else {
            forecast.data.datasets[1].data = month_graph;
        }
        forecast.update(); 

    }

</script>
 
</html>
