<!DOCTYPE html>
<html lang="en">
 
{% include 'partials/_head.html' %}
 
<body>
    <div class="container">
        <div class="header">
            {% include 'partials/_navbar.html' %}
        </div>
 
        <div class="jumbotron">
            <h4 id="cust_name">Hello, {{ cust_firstname | safe }}!</h4>
            <h5 id="cust_intro">Let's take a look at your account:</h5>
            <p class="lead"></p>
<!--             <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p> -->
        </div>
    
        <div id="fin-dashboard">
            <div class="row">
                <!-- Account Summary and Graphs -->
                <div class="col s12 m9 l9">
                  <div class="row">
                    <!-- account summary -->
                    <div class="col s12 m6 l6">
                      <div class="card blue-grey darken-1 fade_card account-summary">
                        <div class="card-content white-text">
                          <span class="card-title">Account Summary</span>
                            <ul class="collection with-header grey-text text-darken-4">
                                <li class="collection-item"><div>Account Type:<a href="#!" class="secondary-content">{{ acc_type | safe }}</a></div></li>
                                <li class="collection-item"><div>Account Owner:<a href="#!" class="secondary-content">{{ acc_owner | safe }}</a></div></li>
                                <li class="collection-item"><div>Current Balance:<a href="#!" class="secondary-content">{{ acc_balance | safe }}</a></div></li>
                                <li class="collection-item"><div>Rewards Balance:<a href="#!" class="secondary-content">{{ acc_rewards | safe }}</a></div></li>
                            </ul>
                        </div>
                        <hr></hr>
                        <div class="card-content white-text">
                            <ul class="collection with-header grey-text text-darken-4">
                                <li class="collection-item"><div>Account Type:<a href="#!" class="secondary-content">{{ acc_type }}</a></div></li>
                                <li class="collection-item"><div>Account Owner:<a href="#!" class="secondary-content">{{ acc_owner }}</a></div></li>
                                <li class="collection-item"><div>Current Balance:<a href="#!" class="secondary-content">{{ acc_balance }}</a></div></li>
                                <li class="collection-item"><div>Rewards Balance:<a href="#!" class="secondary-content">{{ acc_rewards }}</a></div></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <!-- end account summary -->
                    <!-- graphs -->
                    <div class="col s12 m6 l6">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                              <span class="card-title">Past Transactions</span>
                              <canvas id="myChart" width="400" height="400" style="background-color: white;"></canvas>
                            </div>
                        </div>

                
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                              <span class="card-title">Budgeting</span>
                              <canvas id="weeklyBudgetCanvas" width="400" height="400" style="background-color: white;"></canvas>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
        
                <!-- Sidebar + Extra Info -->
                <div class="col s12 m3 l3">
                  <div class="card blue-grey darken-1 fade_card">
                    <div class="card-content white-text">
                      <span class="card-title">text</span>
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                    </div>
                  </div>

                  <div class="card blue-grey darken-1 fade_card">
                    <div class="card-content white-text">
                      <span class="card-title">Card Title</span>
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
 
        {% include 'partials/_footer.html' %}
 
    </div>
</body>
<script>
    var data = {{transactionData | safe}};
    //console.log(data);
    labels = [];
    graphdata = [];
    for (var i=0; i < data.length; i ++) {
        labels.push(data[i].date);
        graphdata.push(Math.round(data[i].amount * 100) / 100);
    }

    //console.log(labels);
    //console.log(graphdata);

    var data = {labels: labels, datasets:[{data: graphdata, label: "Money spent"}]};


    var ctx = document.getElementById("myChart");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
            scales: {
                xAxes: [{
                            gridLines: {
                                display:false
                            }
                        }],
                yAxes: [{
                            gridLines: {
                                display:false
                            }   
                        }]
                }
        }
	   });

    var weeklyBudgetData = {{weeklyBudgetData | safe}};
    console.log(weeklyBudgetData);
    var weeklyBudgetData = {
      labels: [
      "Spent ",
      "Left"
      ], 
      datasets: [
      {
        data: weeklyBudgetData,
        backgroundColor: [
                "#FF6384",
                "#36A2EB"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB"
            ]
      }]
    };
    var weeklyBudgetCanvas = document.getElementById("weeklyBudgetCanvas");
    var budgetDonutChart = new Chart(weeklyBudgetCanvas, {
      type: 'doughnut',
      data: weeklyBudgetData,
      options: {
      rotation: 0 * Math.PI, // start angle in radians
      circumference: 2 * Math.PI, // sweep angle in radians
      cutoutPercentage: 80
      }
    });
		      

</script>
 
</html>
